.register-container {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    max-width: 400px;
    margin: 40px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
   
  .register-heading {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #007BFF;
  }
   
  .form-group {
    margin-bottom: 20px;
  }
   
  .form-label {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
  }
   
  .form-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
   
  .form-input:focus {
    border-color: #007BFF;
    outline: none;
  }
   
  .register-btn {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
  }
   
  .register-btn:hover {
    background-color: #0056b3;
  }
   
  .message {
    text-align: center;
    color: #d9534f;
    margin-bottom: 20px;
  }