
.view-flights-container {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    min-height: 100vh;

  }
  
  .header- {
    background-color: #05203c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
  }
  
  .logo-icon- {
    margin-right: 10px;
  }
  
  .nav-links- {
    display: flex;
  }
  
  .nav-button- {
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .nav-button.active- {
    border-bottom: 2px solid white;
  }
  
  .main-content- {
    padding: 20px;
  }
  
  .search-header- {
    color: #05203c;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-section- {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .search-input- {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex-grow: 1;
    max-width: 200px;
  }
  
  .search-button- {
    background-color: #05203c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  

.flights-section {
 
  margin-right: 20px;
}
  
  .flights-section h3 {
    color: #05203c;
    margin-bottom: 20px;
  }
  
  .flights-section ul {
    list-style-type: none;
    padding: 0;
    width: 700px; 
  height: 400px;
  }
  
  .flights-section li {
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flight-details {
    margin-right: 10px;
  }
  
  .flight-price {
    color: #2e8b57;
    font-weight: bold;
  }
  
  .view-details {
    background-color: #2e8b57;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .view-details:hover {
    background-color: #1f6651;
  }
  